@model DBProgramming_Class_2.Models.Invoice

@{
    ViewBag.Title = "CreateInvoice";
}

<h2>Create Invoice</h2>

@using (Html.BeginForm("EditInvoice", "Invoices", FormMethod.Post))
{
   
    @Html.HiddenFor(x => x.InvoiceID)
    @Html.HiddenFor(x => x.ProductTotal, new { @Value = 0 })
    @Html.HiddenFor(x => x.SalesTax, new { @Value = 0 })
    @Html.HiddenFor(x => x.Shipping, new { @Value = 0 })
    @Html.HiddenFor(x => x.InvoiceTotal, new { @Value = 0 })

    <label>Customer ID</label>
    <label>@Html.DropDownListFor(x=>x.CustomerID, new SelectList(ViewBag.custList, "CustomerID", "Name"))</label>
    <br />

    <label>Invoice Date</label>
    <label> @Html.TextBoxFor(x => x.InvoiceDate, "{0:d}", new { @class = "form-control", type="date" }) </label>
    <br />
    <input type="submit" value="Submit" />
}

