@model List<DBProgramming_Class_2.Models.Invoice>
@{
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" href="~/Content/main.css" />
<script type="text/javascript" src="~/Content/main.js"></script>

<div class="row">
    <div class="col-md-12">
        <h4>List of Invoices</h4>
    </div>
</div>

<div class="col-md-6">
    <div class="col-md-4" id="addInvoice">
        <a onclick="newInvoice()">Add new Invoice</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table id="products" class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Date</th>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Shipping</th>
                    <th scope="col">Tax</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var invoice in Model)
                {
                    <tr>
                        <th scope="row">
                            <a href="/Invoices/ViewInvoiceDetails/@invoice.InvoiceID">
                            @invoice.InvoiceID
                            </a>
                        </th>
                        <td>@invoice.InvoiceDate.ToShortDateString()</td>
                        <td>
                            <a href="/Customers/Index/@invoice.CustomerID">
                                @invoice.Customer.Name
                            </a>
                        </td>
                        <td>@Math.Round(invoice.ProductTotal, 2)$</td>
                        <td>@Math.Round(invoice.Shipping, 2)$</td>
                        <td>@Math.Round(invoice.SalesTax, 2)$</td>
                        <td>@Math.Round(invoice.InvoiceTotal, 2)$</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="modalInvoicesList" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header"><h5 class="modal-title" id="exampleModalLabel">Add new Invoice</h5><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></div><div class="modal-body">
                <div class="modal-bodyInvoicesList"></div>
            </div><div class="modal-footer"><button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button><button type="button" class="btn btn-primary">Save changes</button></div>
        </div>
    </div>
</div>